* {background-color: lightgray;}
header{
  background-color: black;
  height: 120px;
}
header img { 
 width: 100px; 
height: 100px; 

}
 nav ul li {
   height: auto;
    border: 3px;
    padding: 30px;
   position: relative; 
   color: blanchedalmond;
   /* /* text-align: center; */
 }
   
h1,h2{
font-size: 30px;
font-weight: 700;
line-height: 2;
position: relative;
  margin: auto;
  text-align: center;
  line-height: 3;

}
p {
  position: relative;
  margin: auto;
  text-align: center;
  line-height: 3;
}
 

footer{
float: right;
}
ol li{  
   list-style: decimal;  
    margin-left: 25px; 
     
   }  
/* main ul li
{        background-color: rgb(25, 102, 98);    */

 
 h3 {
 font-size: 30px;
font-weight: 700;
line-height: 2;
position: relative;
  margin: auto;
  line-height: 3;
 }

 footer{
   height: auto;
   background-color: black;
   color:white ;
   text-align: center;
   position: relative;
   margin: auto;
 }